/****** Base ******/
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-weight: 300;
}

/****** Layout ******/
.wrap {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

/****** Header ******/
.header {
  background-image: url('../img/background.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 2px 2px #333333;
}

.header2 {
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px 2px #333333;
  margin-top: -30px;
  margin-bottom: 60px;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 2px #333333;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: block;
}

nav a {
  padding: .5rem;
  display: block;
}

nav a:hover {
  background-color: #b2a295;
}

/****** Button ******/

.hero-button {
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
  text-shadow: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  padding: 12px 18px;
}

.hero-button:hover {
  border: 2px solid #b2a295;
}

/*****Gallery******/

#gallery {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 15%;
  padding-bottom: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 95%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.2rem;
  color: #333333;
  text-align: center;
}

/****** Newsletter ******/

#nwsltr {
  padding-top: 5%;
  float: left;
  width: 85%;
  margin: 7.5%;
}

.nwsltr-input {
  min-width: 100%;
  border: 1px solid #b2a295;
  height: 40px;
  padding: 8px;
  margin: 0 0 10px 0;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.nwsltr-btn {
  min-width: 100%;
  border: none;
  height: 40px;
  background-color: #b2a295;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.nwsltr-btn:hover {
  background-color: #333333;
}

.small-txt, .validation-message {
  font-size: .8rem;
}

.validation-message {
  color: #333333;
  display: none;
  margin: .5rem 0;
}

/*****Footer******/

footer {
  color: #333333;
  text-align: center;
  clear: both;
  padding-top: 5%;
}

/*****Layout******/

.span_1 {
  width: 100%;
  float: right;
  padding: 0px 0px;
}

.row {
  margin: 0px;
  display: block;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}

/*****Media Queries******/

@media(min-width: 600px) {

  nav ul li {
    display: inline-block;
  }

  .wrap {
    width: 100%;
    margin: 0 auto;
  }

  img {
    float: left;
  }

  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(4n) {
    clear: left;
  }

  .nwsltr-input {
    min-width: 75%;
    float: left;
    overflow: hidden:
  }

  .nwsltr-btn {
    min-width: 25%;
    float: right;
    overflow: hidden;
  }

@media(min-width: 1000px) {

  .span_1 {
    width: 25%;
  }

  nav {
    margin-right: -5rem;
  }

  nav ul li {
    display: inline-block;
  }

  .wrap {
    width: 90%;
    margin: 0 auto;
  }

}
